# Machine specific for vim
vim/backup/
vim/undo/
vim/swap/
vim/.netrwhist
vim/plugged/

# Changes to the config directory
config/

# Tags. Because for some reason I need that in my .dotfiles :eye-roll:
tags
